<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js"></script>
</head>
<body>
<div id="app" class="container">
    <h2>ウォッチャによる入力項目間の関連性チェック</h2>
    2022年
    <select v-model="month">
        <option v-for="value in 12">{{ value }}</option>
    </select>
    月
    <select v-model="day">
        <option v-for="value in 31">{{ value }}</option>
    </select>
    日
    <p v-if="message">{{ message }}</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            month: null,
            day: null,
            message: '',
        },
        computed: {
            date() {
                return {
                    month: this.month,
                    day: this.day
                }
            }
        },
        watch: {
            date(value) {
                if (! (value.month && value.day)) {
                    return ;
                }

                const month = ('00' + value.month).slice(-2);
                const day = ('00' + value.day).slice(-2);
                const date = '2022' + month + day;

                if (moment(date).isValid()) {
                    this.message = null
                } else {
                    this.message = '不正な日付です。'
                }
            }
        }
    })
</script>
</body>
</html>